.fade-in-section {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity 2s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}
.main{
    font-size: 1em;
}
.banner{
    height: 650px;
}
.header {
    position: relative;
}
.header-text{
    position: absolute;
    color: white;
    top: 50px;
    left: 30px;
    font-size: 5em;
}
.header-subtext{
    position: absolute;
    color: white;
    top: 200px;
    left: 30px;
    font-size: 2em;
}
h1{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 50px;
}
.project-header{
    margin-top: 20px;
    margin-bottom: -20px;
}
.project-subtext{
    text-align: center;
    padding-bottom: 50px;
}
.about{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.projects{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.project-card{
    position: relative;
    height: 500px;
    margin-left:10px;
    margin-right: 10px;
}
.project-image{
    height: 300px
}

.project-button{
    margin-top: 10px;
    top: 430px;
    position: absolute;

}

.contact{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.about-image{
    border: 2px solid black;
}
.project-video{
    text-align: center;
}

.nav{
    text-decoration: inherit;
    color: inherit;
}